{% extends "layout.twig" %}

{% block article %}
    <br/>
    <br/>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>Организация и город</th>
            <th>Программный продукт</th>
            <th>Отрасль</th>
            <th>Область автоматизации</th>
            <th>АРМ</th>
            <th>Дата внедрения</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="/{{ item.id|idStr }}">{{ item.id }}</a></td>
            <td>{{ item.organization|raw }} <br/> {{ item.city }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.industry }}</td>
            <td>
                <ul>
                    {% for function in item.functions %}
                        <li>{{ function }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ item.arms }}</td>
            <td>{{ item.date }}</td>
        </tr>
        </tbody>
    </table>

    <div>
        <h3>Тип</h3>
       {{ item.ptype }}
    </div>

    <div>
        {{ item.text|raw }}
    </div>


    {% if item.reviewtext %}
        <h2>Отзыв</h2>
        <div>
            {{ item.reviewtext|raw }}
        </div>
        <div>
            {% for image in item.revdocs %}
                <img src="/reviews/{{ image }}" width="300" height="300" alt=""/>
            {% endfor %}
        </div>
    {% endif %}


{% endblock article %}